#input-line {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    width: 100%;
}

.prompt {
    margin-right: 0.5rem;
}

#input-line input {
    padding: 0.2rem 0.4rem;
    border: 1px solid rgba(199, 208, 217, 0.15);
    background: transparent;
    border-radius: 2px;
}

#input-line input:focus {
    border-color: var(--accent);
    outline: none;
}

input {
    flex: 1;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    outline: none;
}
